html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 2em;
  min-width: 320px;
}

.sr-only {
  position: absolute; /* Remove the text from the normal flow */
  width: 1px; /* Set the width to the smallest possible size */
  height: 1px; /* Set the height to the smallest possible size */
  margin: -1px; /* Negative margin ensures that the element is off-screen */
  padding: 0; /* Remove any padding */
  border: 0; /* Remove any border */
  clip: rect(0, 0, 0, 0); /* Clip the element so it doesn't occupy any space */
  overflow: hidden; /* Hide any content overflowing */
}

.search-bar {
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 30%;
  line-height: 2;
  font-size: 1rem;
  transition: width 0.8s 0.2s ease, border-color 0.2s ease;
  outline: none;
}

.search-bar:focus {
  width: 100%;
  border-color: #3a71ca;
}

.search-bar::placeholder {
  font-weight: 200;
}

input:focus::placeholder {
  opacity: 0;
}
