:root {
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--username);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.card,
img {
  border-radius: 10px;
}

.card {
  margin: 0 auto;
  padding: 1em;
  background-color: var(--bg-card);
  min-width: 300px;
  width: 100%;
  max-width: 320px;
}

.card-thumbnail img {
  max-width: 100%;
}

.card-body {
  display: flex;
  column-gap: 1em;
  margin-top: 1em;
}

.card-body img {
  width: 4em;
  height: 4em;
}

.card-details {
  line-height: 1.5em;
}

.card-details h3,
.card-details P {
  margin: 0;
  padding: 0;
}

.card-details h3 {
  font-size: 1rem;
  font-weight: 900;
}

.card-details p {
  font-size: 0.85rem;
}

.card-stats {
  padding: 0;
  margin: 0;
  display: none;
}

.card-stats li {
  display: inline-block;
  list-style-type: none;
  background-color: var(--bg-stats);
  padding: 0.25em 0.5em;
  margin: 1em 0.5em 0 0;
  border-radius: 5px;
}

.card-stats img {
  margin-bottom: -5px;
}

.card:hover .card-stats {
  display: unset;
}

.card:hover {
  padding-bottom: 0.85em;
}
