html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --red: #de0002;
  --white: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
}

.flag {
  display: grid;
  width: 300px;
  height: 300px;
}

.red {
  background-color: var(--red);
}

.white {
  background-color: white;
}

.sec {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.mid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
